@model LinkShortener.ViewModel.User.ApplicationRoleModel

@{
	Layout = "_AdminLayout";
}

<!-- counter:start: -->
<div class="row gutters-sm">

	<!-- start:col: -->
	<div class="col-12 col-xl-12 mb-3">

		<!-- start:portlet -->
		<div class="portlet">

			<div class="portlet-header border-bottom">
				<span>ویرایش</span>
			</div>

			<div class="portlet-body">
				<div class="container py-6">

					<form method="post">
						@await Component.InvokeAsync("EditCreateTemplate", new { Model, Html.ViewContext.HttpContext })

						@if (Model.RoleAccessesList != null)
						{
							<select asp-for="SelectedRoleAccesses" class="form-control bs-select" data-live-search="true" data-actions-box="true" multiple='multiple'>
								@foreach (var option in Model.RoleAccessesList)
								{
									if (option.Selected)
									{
										<option value="@option.Value" selected="selected">@option.Text</option>
									}
									else
									{
										<option value="@option.Value">@option.Text</option>
									}
								}
							</select>
						}
						<div class="mt--10">
							<button class="btn btn-primary" type="submit">تایید</button>
							<a asp-action="Index" class="btn btn-dark">لیست</a>
							<a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-purple">جزییات</a>
						</div>
					</form>

				</div>
			</div>

		</div>
		<!-- end:portlet -->

	</div>
	<!-- end:col: -->

</div>
<!-- end:row: -->